*{
	margin: 0;
	padding: 0;
}

.tab-nav {
    display: none;
    margin: 0 !important;
}

input, select, textarea{
    color: #fff !important;
}

body#body{
	background: url(../img/bg.jpg) center top;
	position: fixed;
	font-family: 'Lobster', cursive;

}
.oculto{
	display: none !important;
}

input{
	font-family: 'Lobster', cursive;
   	padding: 8px;
	color: #fff;
}

.button-amarelo{
	background: #ffb606;
    border-color: #ffb606;
    color: #2a2a2a;
    color: #2a2a2a;
    margin: 10px;
    width: 95% !important;
}

.button-amarelo:hover{
	background-color: #F8AF00;
}	

.logo{
	color: #ffb606;
    font-size: 21px;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
}


#paginaInicial{
	position: absolute;
    top: 32%;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    height: auto;
}

.conteudo{
	background-color: rgba(0, 0, 0, 0.8);
}

#paginaInicial .logo{
	text-align: center;
    display: block;
    margin-top: 31px;
    font-size: 57px;
}

#paginaInicial .chamada-logo{
	    font-size: 20px;
}

#paginaInicial .item{
	border:none;
}

#paginaInicial label{
	color: #fff;
}

#paginaInicial label span{
	color: #fff;
	font-size: 12px;
}

#paginaInicial label input{
	border-bottom: 1px solid #fff;
	color: #fff !important;
	font-family: 'Lobster', cursive;
	font-size: 22px;
}

*::-webkit-input-placeholder {
   color: #fff !important;
}
*:-moz-placeholder {
   color: #fff !important;
} 
*:-ms-input-placeholder { /* IE10+ */
   color: #fff !important;
}


.numero-mesa{
	display: inline-block;
	vertical-align: top;
	width: 38%;
    margin: 12px 0;
    float: right;
}

	.numero-mesa .texto{
		font-size: 15px;
	    color: #fff;
	    display: inline-block;
	    vertical-align: top;
	    margin: 5px;
	}
	.numero-mesa input{
		background: rgba(0, 0, 0, 0.8);
		border: 1px solid #635858;
		width: 50%;
		display: inline-block;
	    vertical-align: top;
	    font-family: 'Lobster', cursive;
	   	padding: 8px;
		color: #fff;
		    text-align: center;
	}
..tabs-top {
	display: none;
	top: 0 !important;
}


.tabs{
	overflow: hidden;
	width: 100%;
	position: inherit;
	background: rgba(17,17,17,.8) !important;
}

.tabs .categoria{
	margin: 3px;
}

.tabs .ativo{
	background-color: #FFB606 !important;
    color: #583E01;
}

#listaProdutos{
	width: 100%;
}

.itens{
	background: rgba(0, 0, 0, 0.8);
	margin: 20px 10px;
	color: #fff;
	width: 100%;
	border: none;
	border-bottom: 2px solid #3F3F3F;
}
.itens .img-pratos{
	width: 46%;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.itens .informacoes{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.itens .descricoes{
	display: block;
	color: #fff;
	width: 100%;

}

	.itens .titulo{
		font-size: 21px;
	}

.itens:hover{
	background-color: rgba(161, 159, 155, 0.3);
}

.itens-selecionado{
	background-color: rgba(161, 159, 155, 0.3);
}	


.quantidade-item{
	display: inline-block;
	vertical-align: top;
	width: 22%;
    margin: 12px 0;
        float: right;
}

	.quantidade-item .texto{
		font-size: 15px;
	    color: #fff;
	    display: inline-block;
	    vertical-align: top;
	    margin: 5px;
	}
	.quantidade-item input{
		background: rgba(0, 0, 0, 0.8);
		border: 1px solid #635858;
		width: 50%;
		display: inline-block;
	    vertical-align: top;
	    	font-family: 'Courgette', cursive;
	   	padding: 8px;
		color: #fff;
		    text-align: center;
	}


.itens .valor{
	font-size: 35px;
    color: #ffd44c;
	width: 20%;
	margin-top: 17px;
	display: inline-block;
	vertical-align: top;

}




.ion-view{
	background: transparent;
}


 @media all and (min-width:240px) and (max-width: 377px){
	.itens{
		background: rgba(0, 0, 0, 0.8);
		border:none;
		margin: 10px 0;
		color: #fff;
		width: 100%;
		border-bottom: 2px solid #3F3F3F;

	}

	.itens .img-pratos{
		width: 100%;
	    margin-right: 15px;
	    display: block;
	    margin-bottom: 10px;
	    height: 134px;
	}

	.itens .informacoes{
		width: 100%;
	}


		.itens .titulo{
			font-size: 23px;
		}
		
		.itens .descricao{
			font-size: 16px;
			margin-top: 7px;
    		color: #828282;
		}


	.itens .valor{
	    font-size: 24px;
	    color: #ffd44c;
	    width: 34%;
		margin-top: 17px;
		display: inline-block;
		vertical-align: top;
	}
		
 }


 #confirmaComanda  .informacoes .titulo{
 	display: block;
 }

#confirmaComanda  .informacoes .quantidade-item{
 	display: inline-block;
 	vertical-align: top;
 	float: none;

}

#confirmaComanda  .informacoes .valor{
 	display: inline-block;
 	vertical-align: top;
	font-size: 18px;
}

#confirmaComanda  .informacoes .valor span{
 	font-size: 13px;
}