<ion-view view-title="Confirmar" class="conteudo">
  <ion-content id="confirmaComanda">
    <div class="logo">FechaConta</div>
    <div class="numero-mesa">
      <div class="texto">Mesa: {{pedido.mesa}}</div>
    </div>   
    <ion-list id="listaProdutos">
      <ion-item class="itens item-remove-animate" ng-repeat="item in pedido.itens" type="item-text-wrap">
        <div class="informacoes">
          <div class="descricoes">
              <div class="titulo">{{item.produto.Nome}}</div>
          </div> 
           <div class="quantidade-item">
              <div class="texto">qtd: {{item.quantidade}}</div>
          </div> 
          <div class="valor">R$ {{item.produto.Valor | number:2}} <span>item</span></div>
          <div class="valorTotal">Sub-total: R$ {{item.valorTotal | number:2}}</div>
          <div class="excluir">excluir pedido</div>
        </div>
      </ion-item>
    </ion-list>
    <button class="button button-block button-amarelo" ng-click="confirmar()">confirmar pedido</button>
    <button class="button button-block button-marrom" ng-click="voltar()">voltar</button>
  </ion-content>
</ion-view>
