<ion-view view-title="Mesa" id="paginaInicial">
  <ion-content>
  		<div class="logo">FechaConta</div>	
		<div class="chamada-logo">Sua comanda online</div>
  		<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Número da mesa</span>
		    <input type="text" placeholder="Digite o número da mesa" ng-model="mesa">
		  </label>
		  <button class="button button-block button-amarelo " ng-click="abrirComanda(mesa)">Abrir comanda</button>
		</div>
	</ion-content>  
</ion-view>