<ion-view view-title="Comanda">
   <ion-content id="visualizacaoComanda">
    <div class="logo">FechaConta</div>
    <div class="numero-mesa">
      <div class="texto">Mesa: {{comanda.NumeroDaMesa}}</div>
    </div>  
    <div class="minha-comanda">Minha comanda</div> 
    <ion-list id="listaProdutos">
      <ion-item class="itens item-remove-animate" ng-repeat="pedido in comanda.Pedidos" type="item-text-wrap">
        <div class="informacoes">
          <div class="texto">Pedido {{$index + 1}}</div>
          <ul>
            <li ng-repeat="item in pedido.ItensDoPedido">          
                <div class="descricoes">
                    <div class="titulo nomeDoProd">{{item.Produto.Nome}}</div>
                </div> 
        				<div class="quantidade-item">qtd: {{item.Quantidade}}</div>
        				<div class="valor">R$ {{item.Produto.Valor | number:2}} <span>item</span></div>
      				<div class="valorTotal">Sub-total: R$ {{item.ValorTotal | number:2}}</div>
            </li>
          </ul>
        </div>
      </ion-item>
    </ion-list>
    <div class="valorTotalComanda">Valor total da comanda: <span>R$ {{comanda.Total | number:2}}</span></div>
    <div ng-show="mostraOpcoesDePagamento()">
      <button  class="button button-block button-amarelo" ng-click="escolherTroco()">Dinheiro</button>
      <button  class="button button-block button-amarelo" ng-click="finalizarPedido()">Cartão de crédito/débito</button>
    </div>
    <div ng-show="mostraTrocoPara()">
      <form>
      <label class="item item-input item-floating-label">
        <span class="valor-para-troco">Precisa de troco para:</span>
        <input type="tel" placeholder="R$" ng-model="trocoPara.valor">
      </label>
      <span class="valor-do-troco">O seu troco será:  R$ {{ troco() }}</span>
      </form>
    </div>
    <button ng-show="mostraFinalizarPedido()" class="button button-block button-amarelo" ng-click="solicitarFechamento()">solicitar fechamento</button>
    <button id="fechaConta" ng-show="mostraFecharPedido()" class="button button-block button-amarelo" ng-click="fecharConta()">FechaConta</button>
    <button ng-hide="mostraComandaFechada" class="button button-block button-marrom" ng-click="voltar()">voltar para o menu</button>
  </ion-content>
</ion-view>
