<ion-view view-title="Menu">
  <ion-content>
    <img src="" alt="" class="logo">
    <div>
      Mesa
      <input type="number" step="1" name="mesa" id="mesa">
    </div>
    <div class="tabs">
      <a class="tab-item" ng-repeat="categoria in itens.Categorias" ng-click="alterarCategoria($index)">
        {{categoria.Nome}}
      </a>
    </div>
    <ion-list>
      <ion-item class="itens item-remove-animate item-icon-right" ng-repeat="item in itens.Categorias[categoriaSelecionada].Itens" type="item-text-wrap" ng-click="selecionarItem($index)">
        <img class="img-pratos" src="https://placehold.it/350x150" alt="">
        <div class="informacoes">
          <div class="descricoes">
              <div class="titulo">{{item.Nome}}</div>
              <div class="descricao">{{item.Descricao}}</div>
          </div>            
          <div class="valor">R$ {{item.Valor}}</div>
        </div>  
        <label class="checkbox">
          <input type="checkbox">
       </label>
      </ion-item>
    </ion-list>
    <button class="button button-block">
      Fechar pedido
    </button>
  </ion-content>
  
</ion-view>
