<ion-view view-title="Menu">
  <ion-content>
    <div>
      Mesa
      <input type="number" step="1" name="mesa" id="mesa">
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in itens.Categorias[0].Itens" type="item-text-wrap">
        <h2>{{item.Nome}}</h2>
        <p>{{item.Descricao}}</p>
        <p>{{item.Valor}}</p>
      </ion-item>
    </ion-list>
    <button class="button button-block">
      Fechar pedido
    </button>
  </ion-content>
</ion-view>
