    <div class="banner">
        <div class="info">
            <div class="logo">FechaConta</div>
            <div class="texto">Sua comanda online</div>
        </div>
    </div>

    <div class="sobre">
        <h1>Sobre o FechaConta</h1>
        <iframe width="854" height="300" src="https://www.youtube.com/embed/5Jz0ZyTIAnk" frameborder="0" allowfullscreen></iframe>
        <div class="texto"> O FechaConta é um aplicativo de gestão de pedidos e comanda em tempo real,  direcionado para diversos locais, como bares, restaurantes, lanchonetes e entre outros. Nele o cliente realizará o pedido através do menu on-line, visualizar os lançamentos realizados em sua comanda, sendo ela individual ou em grupo para uma mesma mesa e ate mesmo solicitar o fechamento de sua conta com apenas um clique, sem precisar enfrentar filas para efeturar o pagamento, pois a maquina de cartão ou o valor de devolução do seu pagamento já estará com  garçon.

        Tudo isso chamando o garçon apenas uma vez.
        </div>
    </div>
    <div class="paralax">
        <h2>Pode ser usado em:</h2>

        <ul class="nav-menu-tabs" role="tablist">
            <li style="width:25%">
                <span>
                    <span class="box">
                        <img src="http://tpdm.foobla.netdna-cdn.com/resca/wp-content/uploads/2015/07/food.png">
                        <span>Lanchonetes</span>
                    </span>
                </span>
            </li>
            <li style="width:25%">
                <span >
                    <span class="box">
                        <img src="http://tpdm.foobla.netdna-cdn.com/resca/wp-content/uploads/2015/07/drink.png">
                        <span>Bares</span>
                    </span> 
                </span>
            </li>
            <li style="width:25%">
                <span >
                    <span class="box">
                        <img src="http://tpdm.foobla.netdna-cdn.com/resca/wp-content/uploads/2015/07/chef.png">
                        <span>Restaurantes</span>
                    </span>
                </span>
            </li>
            <li style="width:25%">
                <span>
                    <span class="box">
                        <img src="http://tpdm.foobla.netdna-cdn.com/resca/wp-content/uploads/2015/07/cocktail.png">
                        <span>Sucos e Cafés</span>
                    </span>
                </span>
            </li>
        </ul>
    </div>
    <div class="beneficios">
        <h2>Quais os <span>benefícios</span>?</h2>
        <ul>
            <li>
                <div class="icone"></div>
                <div class="texto">Melhor experiência ao cliente</div>
                <div class="texto-explicativo">Um aplicativo em que se pode fazer o pedido online, verificar seus consumos e solicitar o fechamento da conta em um so lugar, sem precisar chamar os garçons.</div>
            </li>

            <li>
                <div class="icone"></div>
                <div class="texto">Sem filas para pagar</div>
                <div class="texto-explicativo"> Verificou sua comanda e ja quer solicitar o pagamento? Basta informar a forma de pagamento atráves do aplicativo para que recebimento seja efetuado diretamente da mesa. </div>
            </li>

            <li>
                <div class="icone"></div>
                <div class="texto">Praticidade na gestão dos pedidos</div>
                <div class="texto-explicativo">Caso um determinado item se esgote durante o expediente, basta colocá-lo como indisponível para que não apareça no cardápio.</div>
            </li>

            <li>
                <div class="icone"></div>
                <div class="texto">Fechamentos de conta</div>
                <div class="texto-explicativo">Seus clientes poderam solicitar o fechamento da conta diretamente pelo seu proprio celular, que mostrará todos os valores gastos detalhadamente.</div>
            </li>
        </ul>
    </div>
