body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    font-family: 'Lobster', cursive;
    color: #ffb606;
    font-size: 41px;
    margin: 15px 0;
    text-align: center;
    display: block;
}

#relacaoDeComanda {
    width: 100%;
}

.titulo-comanda {
    font-size: 21px;
    font-weight: bold;
}

.data {
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0;
}

.lista {
    border: 1px solid #E8E8E8;
}
thead tr.margin-bottom {
    border-bottom: 2px solid #ffb606;
}

    thead.lista tr th {
        border: 1px solid #E8E8E8;
        padding: 7px;
    }

.borda{
    margin: 12px;
    border: 1px solid #E8E8E8;
    padding: 7px;
}

tbody tr:hover{
    background-color: #EFEFEF;
    cursor: pointer;
}


.visualizacao-comanda {
    margin: 6px;
    width: 99%;
}

.visualizacao-comanda thead tr {
    border: 1px solid #efefef;
}

.visualizacao-comanda thead tr th{
    padding: 7px;
}

.visualizacao-comanda td {
    margin: 5px 0;
}

.width41 {
    width:41%;
}

.width35 {
    width: 35%;
}

.width15 {
    width: 15%;
}

.itens-da-comanda tr {
    margin-bottom: 10px;
}